@import './variables';
@import './fonts';

@import 'node_modules/primeflex/primeflex.scss';

@import 'primeng-sass/designer/_components';
@import 'primeng-sass/themes/material/extensions/vendor_extensions';

@import 'extensions/general';
@import "extensions/utils";
@import "extensions/cards";
@import "extensions/form";
@import "extensions/formlayout";
@import "extensions/datatables";
@import "extensions/paginator";
@import "extensions/menubar";
@import "extensions/tabmenu";
@import "extensions/tabview";
@import "extensions/button";
@import "extensions/dialog";
@import "extensions/tree";
@import "extensions/table";
@import "extensions/splitter";
@import "extensions/sidebar";
@import "extensions/tooltip";



@import "src/styles/variables";

body {
    display: block;
    position: relative;

    .main-page {
        margin: 7rem 0 2rem;

        &__toolbar {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            width: 100%;
            background-color: $primaryColor;
            z-index: 999;


            .menu-item {
                .menu-item__text {
                    &.search {
                        cursor: pointer;
                    }
                }
            }

            #roleTypeID {
                position: absolute;
                top: -10px;
                right: -180px;
            }
        }
    }

    ::ng-deep {
        .p-toolbar {
            border-radius: 0;
            background-color: transparent;
            padding: 0.5rem 0;
        }

        p-sidebar {
            text-align: center;
            font-size: 1.0625rem;
            //font-weight: $fontWeightBold;

            >div.sidebar,
            >div.search-sidebar {
                top: 56px;
            }

            >div.search-sidebar {
                text-align: right;

                &.p-sidebar-top {
                    height: auto;
                    padding: 0;
                }

                div.p-sidebar-content {
                    overflow: visible;
                }
            }

            div.p-sidebar-content {
                overflow-x: hidden;
            }

            .side-menu-item {
                color: $primaryColor;
                cursor: pointer;

                &:hover {
                    color: $accentColor;
                }
            }
        }
    }

    // .parent {
    //     margin: 1rem;
    //     padding: 2rem 2rem;
    //     text-align: left;
    // }

    // .child {
    // display: inline-block;
    // padding: 1rem 1rem;
    // vertical-align: left;
    // } 
}